* {
    box-sizing: border-box;
}


html,
body {
    height: 100%;
}




ul {
    margin: 0;
    padding: 0;
    list-style: none;
}



h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

a {
    text-decoration: none;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.178);
}

.wraper {
    min-height: 100%;
    min-width: 100%;
}

.hero {
    background: url(../img/Travel-Time.png) no-repeat;
    background-size: cover;
    height: 100vh;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
}

.hero__container {}

.nav {
    width: 1170px;
    height: 39px;

}

.nav__link {
    color: white;
}

.nav__list {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;

}

.nav__item {
    font-weight: 500px;
    font-size: 24px;

}

.content {}

.hero__content {}

.title {
    padding-top: 154px;
    font-weight: 700;
    font-size: 96px;
    color: white;
    text-align: center;
}

.subtitle {

    font-weight: 275;
    font-size: 24px;
    text-align: center;
    color: white;
}

.btn {
    display: flex;
}

.hero__btn {
    border: 3px solid #00b43d;
    border-radius: 8px;
    border-color: white;
    padding: 19px 70px;
    width: 191px;
    height: 60px;
    background-color: #00b43d;
    font-weight: 500;
    font-size: 24px;
    line-height: 117%;
    color: white;

    position: absolute;
    top: 513px;
    left: 498px;

}

.place {

    background: url(../img/mount.png) no-repeat;
    background-size: cover;
}

.place__title {

    font-weight: 500;
    font-size: 40px;
    color: white;
}

.card {

    display: flex;

}

.card__item {
    padding-right: 85px;
    width: 320px;
    height: 586px;


}

.img__card {
    width: 272px;
    height: 252px;
    display: flex;
}

.card__title {

    font-weight: 500;
    font-size: 32px;
    color: white;
}

.card__subtitle {

    font-weight: 300;
    font-size: 16px;
    color: white;
}

.card__btn {

    background-color: rgba(78, 78, 78, 0.45);

    font-weight: 500;
    font-size: 12px;
    line-height: 233%;
    color: white;
    border-radius: 8px;
    width: 96px;
    height: 39px;
}